@model List<CommissionListingViewModel>
@inject ICommissionService CommissionService
@{
    ViewData["Title"] = "My Commissions";
}

<div class="container p-3">
    <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-sm-12">
        <h1 class="title-margin text-center">My Commissions</h1>
        <div class="container mb-5 p-3">
            @if (Model.Any(c => !c.IsComplete))
            {
                <h3 class="card-title">Active</h3>
                @foreach (var comm in @Model.Where(c => !c.IsComplete))
                {
                    <partial name="_CommPartial" model="comm"/>
                }
            }
        </div>
        <div class="container p-3">
            @if (Model.Any(c => c.IsComplete))
            {
                <h3 class="card-title">Finished</h3>
                @foreach (var comm in @Model.Where(c => c.IsComplete))
                {
                    <partial name="_CommPartial" model="comm" />
                }
            }
        </div>
    </div>
</div>