@model List<CommissionListingViewModel>
@inject ICommissionService CommissionService
@{
    ViewData["Title"] = "MyCommissions";
}

<div class="row">
    <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-sm-12">
        <h1 class="title-margin">My Commissions</h1>
        <div class="container mb-5" id="active">
            <h3 class="card-title">Active</h3>
            @foreach (var comm in @Model.Where(c => !c.IsComplete))
            {
                <partial name="CommPartial" model="comm"/>
            }
        </div>
        <div class="container" id="resolved">
            <h3 class="card-title">Finished</h3>
            @foreach (var comm in @Model.Where(c => c.IsComplete))
            {
                <partial name="CommPartial" model="comm" />
            }
        </div>
    </div>
</div>