@model CommentFormModel

<div class="p-3">
    <form method="post" asp-controller="Artworks" asp-action="Art" asp-route-id="@ViewBag.Id">
        <div class="col-10 float-left">
            <label asp-for="Content">Write a reply</label>
            <textarea asp-for="Content" class="form-control" rows="2"></textarea>
            <span asp-validation-for="Content" class="small text-danger"></span>
        </div>
        <div class="col-2 float-right mt-5">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
</div>