@model List<ArtListingViewModel>
@{
    ViewData["Title"] = "All";
}

<h1 class="title-margin">Recommended artworks</h1>
@if (!Model.Any())
{
    <p>No artworks yet</p>
}
<div class="row">
    @foreach (var art in Model)
    {
        <partial name="ArtPartial" model="@art" />
    }
</div>