@model List<ArtListingViewModel>
@inject IArtistService ArtistService
@{
    var artist = ArtistService.GetName(ViewBag.ArtistId);
    var title = artist + "'s Artworks";
    ViewData["Title"] = title;
}

<h1 class="title-margin">@title</h1>
@if (!Model.Any())
{
    <p>No artworks yet</p>
}
<div class="row">
    @foreach (var art in Model)
    {
        <partial name="ArtPartial" model="@art" />
    }
</div>

