@model ArtworkListingServiceModel
@inject IArtistService ArtistService
@{
    var artist = ArtistService.GetName(ViewBag.ArtistId);
    var artworks = Model.Artworks;
    var title = artist + "'s Artworks";

    ViewData["Title"] = title;
}

<div class="container p-3">
    <h1 class="title-margin text-center">@title</h1>
    @if (!artworks.Any())
    {
        <p>No artworks yet</p>
    }
    <div class="row">
        @foreach (var art in artworks)
        {
            <partial name="_ArtPartial" model="@art" />
        }
    </div>
</div>

