@model List<ListOfArtworksServiceModel>
@{
    ViewData["Title"] = "My Artworks";
}

<h1>My Artworks</h1>
@if (!Model.Any())
{
    <p>no artworks yet</p>
}
<div class="card-columns">
    @foreach (var art in Model)
    {
        <partial name="ArtPartial" model="@art" />
    }
</div>
