@model List<ListOfArtworksServiceModel>
@{
    ViewData["Title"] = "My Artworks";
}

<h1 class="title-margin">My Artworks</h1>
@if (!Model.Any())
{
    <p>No artworks yet</p>
}
<div class="row">
    @foreach (var art in Model)
    {
        <partial name="ArtPartial" model="@art" />
    }
</div>

