@model List<ArtListingViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@{
    var firstImage = Model.Any() ? Model[0] : null;
    var restOfImages = Model.Any() ? Model.Skip(1).ToList() : null;
}

<div class="text-center">
    <p>fix irl softuni page</p>
    <p>TODO: add pages and show 8 or 12 artworks per page</p>
    <p>TODO: fix Views++ </p>
    <p>TODO: fix followers to be a dictionary/list of bool, add a Following page and create artist partial</p>
    <p>TODO: implement search page with sorting and filtering</p>
    <p>TODO: home page: show works by users you are following (order by latest), recommended users (with top 3 works shown)</p>
    <p>TODO: implement commissions, with an active ones area (disabled if not open) and old ones; implement price sheets page</p>
    <p>TODO: implement comments partial</p>
    <p>TODO: admin role and rest of fancy stuff from lectures</p>

    @if (firstImage == null)
    {
        <p>No images available</p>
    }
</div>