@model List<ArtListingViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@{
    var firstImage = Model.Any() ? Model[0] : null;
    var restOfImages = Model.Any() ? Model.Skip(1).ToList() : null;
}

<div class="text-center">
    <p>TODO: Works by users you are following (order by latest), recommended users (with top 3 works shown)</p>

    @if (firstImage == null)
    {
        <p>No images available</p>
    }
</div>