@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
@{
    var artworks = Model.Artworks;
    var artists = Model.Artists;
}

@if (User.Identity.IsAuthenticated)
{
    <div>
        @if (artworks != null)
        {
            <div class="container p-3">
                <h2>Works by artists you are following</h2>
                <div class="row">
                    @foreach (var artwork in artworks)
                    {
                        <partial name="~/Views/Artworks/ArtPartial.cshtml" model="artwork" />
                    }
                </div>
            </div>
        }
        @if (artists != null)
        {
            <div class="container p-3">
                <h2>Recommended artists</h2>
                <div class="row">
                    @foreach (var artist in artists)
                    {
                        <partial name="~/Views/Artists/ArtistPartial.cshtml" model="artist" />
                    }
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="col-8 m-auto">
        <div class="jumbotron">
            <div class="container text-center">
                <h1 class="display-4 ">Welcome to Art Portfolio!</h1>
                <p class="lead">Please log in to continue</p>
                <a asp-area="Identity" asp-page="/Account/Register" role="button" class="btn btn-primary col-6 m-1">Sign Up</a>
                <a asp-area="Identity" asp-page="/Account/Login" role="button" class="btn btn-outline-primary col-6 m-1">Sign In</a>
            </div>
        </div>
    </div>
}



@*
    FIX: Views++
    FIX: Artist and Commission Models
    TODO: add price sheets page
    TODO: admin role and rest of fancy stuff from lectures
*@